<section id="edit-post">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-light">
            <h3>Edit Post</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <h4>Title</h4>
              <input type="text" class="form-control" value="{{editedPost.title}}">
            </div>
            <div class="form-group">
              <h4>Category</h4>
              <input type="text" class="form-control" value="{{editedPost.categoryTitle}}">
            </div>
            <div class="form-group">
              <label for="image">Upload Image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image">
                <label for="image" class="custom-file-label">Choose File</label>
              </div>
              <small class="form-text text-muted">Max size 3mb</small>
            </div>
            <textarea rows="10" class="form-control">{{editedPost.article}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="save-delete" class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <button class="btn btn-success mr-3 btn-block">
          <i class="fas fa-check mr-3"></i>Save Changes
        </button>
      </div>
    </div>
  </div>
</section>
